<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HUIT Clearpass Tool{% endblock %}</title>
    <link href="{% static 'clearpass_tool/css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'clearpass_tool/css/base.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="{% static 'clearpass_tool/js/jquery-3.3.1.js' %}"></script>
    <script src = "https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <script src="{% static 'clearpass_tool/js/bootstrap.js' %}"></script>
</head>

<body id="body" class="body-header-base--has-photo largescr navtop" style="text-align:left">
<div id="page" class="page">
    <header role="banner" id="headerArea" class="header-base header-base--has-photo">
        <h1 class="harvard-heading">
        <span class="harvard-heading__link">
            <span class="is-visually-hidden">
                Harvard University
            </span>
        </span>
        </h1>
        <nav role="navigation" class="main-nav" id="siteNavigation">
            <div class="nav-drawer">
                <div class="list-clean">
                    <ul class="nav-group nav-group--top-bar" style="margin-right: 300px; font-weight: bold">

                        {% if user.is_authenticated %}
                            <li ><a href="">Welcome : {{ request.user.first_name }} {{ request.user.last_name }}</a></li>
                            <li ><a href="{% url 'logoutuser' %}">Logout</a></li>
                        {% endif %}
                        <li ><a href="">Harvard</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" id="mainArea" class="main-base">
        <header class="main-base__header">
            <div class="wrapper wrapper--1-down">
                <div id="breadcrumb-padding"></div>
                <h1 id="current_page_title"></h1>
            </div>
        </header>
        <div class="wrapper wrapper--1-down content">
            <div class="clearfix grid-fixed-side">
            {% if not user.is_authenticated %}

                {% else %}
                <div class="fixed-side-col">
                    <nav class="sub-nav sub-nav-normal" role="navigation" id="subNav">
                        <div class="list-clean">

                                {% include 'clearpass_tool/sideMenu.html' %}

                        </div>
                    </nav>
                </div>
            {% endif %}
                <div class="content">
                    {% block content %}
                        login
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
    <footer role="contentinfo" id="footerArea" class="footer-base">
        <div class="wrapper wrapper--1-down content-area">
            <p class="footer__outro" style="align:center">
                © 2018 The Clearpass App
            </p>
        </div>
    </footer>

</div>
</body>
</html>

<script>
$(document).ready(function() {
    $('#tbl').DataTable( {
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
    } );
} );
</script>



<script>
    $(document).ready(function() {
        $(".btn.btn-primary.edit").click(function() {
            var rowData = $(this).parent().parent().children();

            <!--macValue = $(rowData[0]).text();-->
            <!--$("#inputMac").val(macValue);-->
            <!--$("#inputMac").prop("disabled", "disabled");-->

            sponsorValue = $(rowData[1]).text();
            $("#inputDevice").val(sponsorValue);


        });


    });

</script>

$("tr.delete").click(function() {
                    var rowData = $(this).parent();
                    macValue = rowData[0];
                });