{% extends 'clearpass_tool/base.html' %}

{% load static %}

{% block title %}List Devices by Role Name{% endblock %}

{% block content %}
<div class="col-sm-6 offset-sm-4 col-sm-6">



    <h3>List Devices by Role</h3>
    <br>
    <div class="card" style="width: 100%">
        <h6 class="card-header" style="background-color: #640411; color: #fff;text-align: center">List Devices by Role Name</h6>
        <div class="card-body">

            <form method='POST' action="devicesRole" class="block-center" style="font-weight: bold">
                {% csrf_token %}

                <div class="form-group row">
                    <label for="inputState" class="col-sm-4 col-form-label">Role Name:</label>
                    <div class="col-sm-8">
                        <select id="inputState" class="form-control" name="role_name" required>
                            <option value="" selected>Choose a Role</option>
                            {% for roleName in roleNames %}
                            <option value="{{ roleName }}">{{ roleName }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="col-sm-6 offset-sm-4">
                    <button id="submitBtn" type="submit" class="btn" style="background-color:#640411;color:white;width: 100%;font-weight: bold">SUBMIT</button>
                </div>

            </form>
        </div>
    </div>
    <br>
    <div><h6 style="color: #a51c30; vertical-align: top; text-align: left"><span>* </span>Required Fields</h6> </div>
</div>
<div class="modal fade" id="proxyRegModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">
                        <h3>Edit Device</h3>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">

                    <br>
                    <div class="card" style="width: 100%">
                        <h6 class="card-header" style="background-color: #640411; color: #fff;text-align: center">Edit Device</h6>
                        <div class="card-body">
                            <form method='POST' action="editDevice" class="block-center" style="font-weight: bold">
                                {% csrf_token %}

                                <div class="form-group row">


                                    <label for="inputMac" class="col-md-4 col-form-label"><span style="font-weight: bold;font-size:20px;color: #a51c30; vertical-align: top;">* </span>MAC Address:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="mac_address" id="inputMac" pattern="^([0-9A-Fa-f]{1,2}[\.:-]){5}([0-9A-Fa-f]{1,2})$" placeholder="Enter MAC address of the device." required>
                                    </div>
                                </div>

                                <!--<div class="form-group row">-->
                                    <!--<label for="inputDevice" class="col-md-4 col-form-label">Device Name:</label>-->
                                    <!--<div class="col-md-8">-->
                                        <!--<input type="text" class="form-control" name="device_name" id="inputDevice" placeholder="Enter Name of the device.">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="form-group row">
                                    <label for="inputKey" class="col-md-4 col-form-label"><span style="font-weight: bold;font-size:20px;color: #a51c30; vertical-align: top;">* </span>Register To:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="sponsor_name" id="inputKey" placeholder="Enter Harvard key." required>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="inputState2" class="col-md-4 col-form-label">Role Name:</label>
                                    <div class="col-md-8">
                                        <select id="inputState2" class="form-control" name="role_name" required>
                            <option value="" selected>Choose a Role</option>
                            {% for roleName in roleNames %}
                            <option value="{{ roleName }}">{{ roleName }} </option>
                            {% endfor %}
                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputNote" class="col-md-4 col-form-label">Notes:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="notes" id="inputNote" placeholder="Description (optional).">
                                    </div>
                                </div>


                                <div class="col-md-6 offset-md-4">
                                    <button id="proxyRegBtn" type="submit" class="btn" value="submit" style="background-color:#640411;color:white;width: 100%;font-weight: bold">UPDATE</button>
                                </div>


                            </form>
                        </div>
                    </div>
                    <div>
                        <h6 style="color: #a51c30; vertical-align: top; text-align: left"><span>* </span>Required Fields</h6>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    {% if values and values|length > 0 %}
    <br>
    <br>
        {% if keys %}
        <table class="table table-hover table-sm" id="tbl" align="center"  cellpadding="2" cellspacing="0"
               border="0" width="100%" height="100%">
                <thead class="thead-dark">
                <tr class="col-sm-12" style="width: 50%" align="center">
                    {% for each_key in keys %}
                    <th class="th fit" scope="col">{{each_key}}</th>
                    {% endfor %}
                    <th class="th fit" scope="col">Edit</th>
                    <th class="th fit" scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                    {% for each_device in values %}
                        <tr class="col-sm-12" align="center" style="cursor:pointer" data-href ="#">
                            {% for value in each_device %}
                                <td class="td fit">{{ value }}</td>
                            {% endfor %}
                           <td>
                               <button type="button" class="btn btn-primary edit" data-toggle="modal" data-target="#proxyRegModal">Edit</button>
                           </td>
                            <td>
                                <button type="button" class="btn btn-primary delete">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
        {% endif %}

    {% else %}
        <div class = "card-body">
        <div class="alert alert-warning" align="center" role="alert" style="width:100%">Devices not found</div>
        </div>
    {% endif %}


{% endblock %}