/*.block-center{*/
    /*display: inline-block;*/
    /*text-align: left;*/
    /*padding:10px;*/
    /*font-weight: bold;*/

/*}*/

/*!*.content{*!*/
/*!*padding: 20px;*!*/
/*!*margin: 20px;*!*/
/*!*}*!*/

/*.form-control:focus{border-color: #a51c30;  box-shadow: none; -webkit-box-shadow: none;}*/
/*.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}*/

/*.col-form-label{*/
    /*text-align: right;*/
/*}*/

/*.header-base {*/
    /*position: relative;*/
    /*z-index: 8*/
/*}*/


/*.header-base--has-photo {*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center 80px;*/
    /*min-height: 380px;*/
    /*background-image:url("bg-3.jpg")!important;*/
/*}*/

/*!*.mx-auto button:hover{*!*/

/*!*border-color: #640411;*!*/
/*!*background-color: rgba(38, 38, 38, 0.93);*!*/
/*!*font-weight: bold;*!*/
/*!*color: rgba(255,255,255,1);*!*/
/*!*}*!*/

/*!*.mx-auto button:hover{*!*/

/*!*border-color: #ffffff;*!*/
/*!*background-color: #640411;*!*/
/*!*font-weight: bold;*!*/
/*!*color: rgba(255,255,255,1);*!*/
/*!*}*!*/

/*.mx-auto button:hover{*/

    /*font-weight: bold;*/
    /*color: rgba(255,255,255,1);*/
/*}*/

/*body{*/

    /*background-color: #ffffff;*/
    /*text-align: center;*/
/*}*/


/*table {*/
    /*width: 50%;*/
    /*display: block;*/
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
    /*padding:10px;*/
/*}*/
/*.ten {*/
    /*width: 10%*/
/*}*/
/*.twenty {*/
    /*width: 20%;*/
/*}*/

/*.thrity {*/
    /*width: 30%;*/
/*}*/

/*#topnavbarlogo{*/
    /*width: 100px;*/
    /*background-image: url('static/img/Bosch trans logo.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size:100%;*/

/*}*/
