
/*.rectangle-out {*/
    /*position: relative;*/
    /*-webkit-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*-webkit-backface-visibility: hidden;*/
    /*backface-visibility: hidden;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    /*-webkit-transition: color 300ms;*/
    /*transition: color 300ms &: before;*/
    /*content: "";*/
    /*position: absolute;*/
    /*z-index: -1;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*background: #2098d1;*/
    /*-webkit-transform: scale(0);*/
    /*transform: scale(0);*/
    /*-webkit-transition-property: transform;*/
    /*transition-property: transform;*/
    /*-webkit-transition: 300ms ease-out;*/
    /*transition: 300ms*/
    /*ease-out &: hover: before*/
    /*-webkit-transform: scale(1);*/
    /*transform: scale(1);*/
/*}*/



body {
  background: url("../img/Bosch Building.jpg") no-repeat center center fixed;
    background-color: #0c5460;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#midlogoholder{
    background-image: url('../img/Bosch Landing Logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    height: 400px;
}
#midlogoholder2{
    background-image: url('../img/Bosch Landing Logo2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;

    height: 50px;
}