{% extends 'clearpass_tool/base.html' %}

{% load static %}

{% block title %}List Devices by Role Name{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-4 col-sm-6">

    <div id="alert-zone" class="alert {{ alertType }}" role="alert" style="width:100%">{{alertMessage}}</div>

    <h3>List Devices by Role</h3>
    <br>
    <div class="card" style="width: 100%">
  <h6 class="card-header" style="background-color: #640411; color: #fff;text-align: center">List Devices by Role Name</h6>
  <div class="card-body">

    <form method='POST' action="devicesRole" class="block-center" style="font-weight: bold">
                {% csrf_token %}

     <div class="form-group row">
        <label for="inputState" class="col-md-4 col-form-label">Role Name:</label>
        <div class="col-md-8">
            <select id="inputState" class="form-control" name="role_name" required>
                <option value="" selected>Choose a Role</option>
                {% for roleName in roleNames %}
                <option value="{{ roleName }}">{{ roleName }} </option>
                {% endfor %}
            </select>
        </div>
    </div>


<div class="col-md-6 offset-md-4">
  <button id="submitBtn" type="submit" class="btn" style="background-color:#640411;color:white;width: 100%;font-weight: bold">SUBMIT</button>
    </div>


</form>
  </div>

</div>
    <br>
    {% if values and values|length > 0 %}

        {% if keys %}
        <table class="table table-hover table-sm" data-pagination="True" cellpadding="2" cellspacing="2" border="5">
                <thead class="thead-dark">
                <tr class="col-sm-12" style="width: 50%">
                    {% for each_key in keys %}
                    <th class="th fit" scope="col">{{each_key}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for each_device in values %}
                        <tr class="col-sm-12">
                            {% for value in each_device %}
                                <td class="td fit">{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                     </tbody>
        </table>
        {% endif %}

    {% else %}

    <p>Devices not found</p>
                
    {% endif %}
    <div><h6 style="color: #a51c30; vertical-align: top; text-align: left"><span>* </span>Required Fields</h6>
    </div>
</div>
{% endblock %}