<head>

<style>
.header-photo{
background-image: url("bg-2.jpg");
min-height:250px;
background-position: center 10px;
background-size: cover;
background-repeat: no-repeat;
background-position: center 10px;
bottom: 0;
content: '';
height: 20%;
<!--left: 0;-->
width: 100
position: absolute;
}
.harvard-heading {
position: static;
top:36px;
background-position: 0 -20px;
height: 82px;
width: 140px;
background-image: url(background.png);
background-repeat: no-repeat;
background-size: 100% auto;
left: 0;
margin: auto;
padding: 0;
right: 0;
transition: top .2s;
z-index: 15;
}

.harvard-heading__link {
    background: url(harvard-logo.png) no-repeat;
    color: transparent;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%
}
.harvard-heading__link {
    background-position: center bottom;
    background-size: 110% auto;
    height: 60px;
    margin-top: 0;
}
</style>
</head>
<body>

<div style="height: 100%">
    <header role="banner" id="headerArea" class="header-photo">
            <h1 class="harvard-heading">
                <span class="harvard-heading__link">
                    <span class="is-visually-hidden">
                        Harvard University
                    </span>
                </span>
            </h1>
            <nav role="navigation" class="main-nav" id="siteNavigation">
                <div class="nav-drawer">
                    <div class="list-clean">
                    <ul class="nav-group nav-group--top-bar"> </ul>
                    </div>
                </div>
            </nav>
    </header>
    <main role="main" class="container">
       <header class="main-base__header">
                <div class="wrapper wrapper--1-down">
                    <div id="breadcrumb-padding"></div>
                    <h1 id="current_page_title">
                        <a name="titletop"></a>
                        Clearpass tools
                    </h1>
                </div>
            </header>
    <div class="row" style="height:100%;">
        <div class="row" style="height:70%;">
            <div class="col-md-2">
                <ul class="navigation small-top-buffer">

                    <li class="nav-item"><a href="#">Proxy Register Device</a></li>
                    <li class="nav-item"><a href="#">Delete Device</a></li>
                    <li class="nav-item"><a href="#">List All Devices by Role</a></li>
                    <li class="nav-item"><a href="#">List Device Details By Mac address</a></li>
                </ul>
            </div>
        <div class="col-md-10"  style="align:center">
                <div class="col-md-10 offset-md-1">
<form name="form4a5de7b9_mac_create" id="form4a5de7b9_mac_create" method="POST" action="" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded" novalidate="novalidate">
<table class="nwaContent" cellpadding="2" cellspacing="2" border="3" align="center">
   <thead>
    <tr>
     <th class="nwaTop" colspan="2" style="background-color:#640411;color:#fff">Add New Device (Affiliate)</th>
    </tr>
   </thead>

  <!-- begin csrf_token UI element (type: hidden; hidden: 1;) -->
  <tbody><tr style="display: none;">
    <th class="nwaLeft">
      <span class="nwaImportant nwaRequiredField">*</span> <label for="ID_form4a5de7b9_mac_create_csrf_token">Security Token:</label>    </th>
    <td class="nwaBody"><a name="A_csrf_token"></a>
      <input type="hidden" name="csrf_token" id="ID_form4a5de7b9_mac_create_csrf_token" value="ee8247b3a96b5ac4e605d3b3143c500495c3a623">
    </td>
  </tr>
  <!-- end csrf_token UI element -->

  <!-- begin enabled UI element (type: hidden; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_enabled">Account Status:</label>    </th>
    <td class="nwaBody"><a name="A_enabled"></a>
      <input type="hidden" name="enabled" id="ID_form4a5de7b9_mac_create_enabled" value="1" aria-describedby="DESC_form4a5de7b9_mac_create_enabled">
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_enabled">
        Select an option for changing the status of this account.
      </div>
    </td>
  </tr>
  <!-- end enabled UI element -->

  <!-- begin mac_auth UI element (type: hidden; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_mac_auth">mac_auth</label>    </th>
    <td class="nwaBody"><a name="A_mac_auth"></a>
      <input type="hidden" name="mac_auth" id="ID_form4a5de7b9_mac_create_mac_auth" value="1">
    </td>
  </tr>
  <!-- end mac_auth UI element -->

  <!-- begin mac UI element (type: text; hidden: ;) -->
  <tr id="TR_form4a5de7b9_mac_create_mac">
    <th class="nwaLeft">
      <span class="nwaImportant nwaRequiredField">*</span> <label for="ID_form4a5de7b9_mac_create_mac">MAC Address:</label>    </th>
    <td class="nwaBody"><a name="A_mac"></a>
      <input type="text" style="white-space: nowrap;" name="mac" id="ID_form4a5de7b9_mac_create_mac" aria-describedby="DESC_form4a5de7b9_mac_create_mac" value="" maxlength="17">
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_mac">
        MAC address of the device.
      </div>
    </td>
  </tr>
  <!-- end mac UI element -->

  <!-- begin visitor_name UI element (type: text; hidden: ;) -->
  <tr id="TR_form4a5de7b9_mac_create_visitor_name">
    <th class="nwaLeft">
      <span class="nwaImportant nwaRequiredField">*</span> <label for="ID_form4a5de7b9_mac_create_visitor_name">Device Name:</label>    </th>
    <td class="nwaBody"><a name="A_visitor_name"></a>
      <input type="text" style="width: 240px;" name="visitor_name" id="ID_form4a5de7b9_mac_create_visitor_name" aria-describedby="DESC_form4a5de7b9_mac_create_visitor_name" value="">
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_visitor_name">
        Create a name for your device
      </div>
    </td>
  </tr>
  <!-- end visitor_name UI element -->

  <!-- begin change_of_authorization UI element (type: hidden; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_change_of_authorization">Dynamic Authorization:</label>    </th>
    <td class="nwaBody"><a name="A_change_of_authorization"></a>
      <input type="hidden" name="change_of_authorization" id="ID_form4a5de7b9_mac_create_change_of_authorization" value="1">
    </td>
  </tr>
  <!-- end change_of_authorization UI element -->

  <!-- begin airgroup_enable UI element (type: hidden; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_airgroup_enable">AirGroup:</label>    </th>
    <td class="nwaBody"><a name="A_airgroup_enable"></a>
      <input type="hidden" name="airgroup_enable" id="ID_form4a5de7b9_mac_create_airgroup_enable" value="1" aria-describedby="DESC_form4a5de7b9_mac_create_airgroup_enable">
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_airgroup_enable">
        AirGroup uses device ownership and location information to limit the printers and Apple TVs available to network users.
      </div>
    </td>
  </tr>
  <!-- end airgroup_enable UI element -->

  <!-- begin airgroup_shared UI element (type: hidden; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_airgroup_shared">Ownership:</label>    </th>
    <td class="nwaBody"><a name="A_airgroup_shared"></a>
      <input type="hidden" name="airgroup_shared" id="ID_form4a5de7b9_mac_create_airgroup_shared" value="" aria-describedby="DESC_form4a5de7b9_mac_create_airgroup_shared">
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_airgroup_shared">
        A personal device is automatically shared with other devices owned by the same user.<br>
A shared device has no owner, but more sharing options are available.
      </div>
    </td>
  </tr>
  <!-- end airgroup_shared UI element -->

  <!-- begin airgroup_shared_user UI element (type: hidden; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_airgroup_shared_user">Shared With:</label>    </th>
    <td class="nwaBody"><a name="A_airgroup_shared_user"></a>
      <input type="hidden" name="airgroup_shared_user" id="ID_form4a5de7b9_mac_create_airgroup_shared_user" value="" aria-describedby="DESC_form4a5de7b9_mac_create_airgroup_shared_user">
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_airgroup_shared_user">
        Enter the usernames that will be able to use this device.<br>
Use a comma-separated list, e.g. user1,user2,user3, or blank for all users.
      </div>
    </td>
  </tr>
  <!-- end airgroup_shared_user UI element -->

  <!-- begin airgroup_shared_location UI element (type: multiselect; hidden: ;) -->
  <tr id="TR_form4a5de7b9_mac_create_airgroup_shared_location" style="display:none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_airgroup_shared_location">Shared Locations:</label>    </th>
    <td class="nwaBody"><a name="A_airgroup_shared_location"></a>
      <div class="select2-container select2-container-multi" id="s2id_ID_form4a5de7b9_mac_create_airgroup_shared_location" style="width: 480px;"><ul class="select2-choices">  <li class="select2-search-field">    <label for="s2id_autogen1" class="select2-offscreen">Shared Locations:</label>    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input select2-default" id="s2id_autogen1" style="width: 490px;" placeholder="">  </li></ul><div class="select2-drop select2-drop-multi select2-display-none">   <ul class="select2-results" style="max-height: 400px;">   <li class="select2-no-results">No matches found</li></ul></div></div><select multiple="multiple" name="airgroup_shared_location[]" id="ID_form4a5de7b9_mac_create_airgroup_shared_location" style="width: 480px; display: none;" aria-describedby="DESC_form4a5de7b9_mac_create_airgroup_shared_location" tabindex="-1">
<option label="(Select location)" value=""></option>
  <optgroup style="" label="Named APs">
  </optgroup>
   <optgroup style="" label="Fully Qualified Location Names (FQLN)">
  </optgroup>
 </select><script type="text/javascript" charset="UTF-8" language="JavaScript" src="js/jquery.min-33098.js"></script>
<link rel="stylesheet" href="images/select2.css">
<script type="text/javascript" language="JavaScript">
function NwaGetCssRule(ruleName) {
	var i, j, n, r;
	ruleName = ruleName.toLowerCase();
	if (document.styleSheets) {
		n = document.styleSheets.length;
		for (i = 0; i < n; ++i) {
			s = document.styleSheets[i];
			if (s.cssRules) {
				for (j = 0; r = s.cssRules[j]; ++j) {
					if (r.selectorText !== undefined && r.selectorText.toLowerCase() == ruleName) return r;
				}
			} else if (s.rules) {
				for (j = 0; r = s.rules[j]; ++j) {
					if (r.selectorText !== undefined && r.selectorText.toLowerCase() == ruleName) return r;
				}
			}
		}
	}
	return false;
}
$(document).ready(function () {
	$("link[href=\"images/select2.css\"]").not(":first").remove();
	var select2Css = NwaGetCssRule(".select2-results .select2-highlighted"),
		engineCss = NwaGetCssRule(".nwaHighlight");
	if (select2Css && engineCss) {
		select2Css.style.background = engineCss.style.background;
		select2Css.style.color = engineCss.style.color;
	}
});
</script>
<script type="text/javascript" charset="UTF-8" language="JavaScript" src="js/select2-31884.js"></script>

<script type="text/javascript"><!--

jQuery(function ($) {
	$("#ID_form4a5de7b9_mac_create_airgroup_shared_location").select2($.extend({}, {"resultsCss":{"max-height":"400px"},"maximumSelectionSize":"100","_init":1,"placeholder":"(Select location)","_id":"ID_form4a5de7b9_mac_create_airgroup_shared_location"}));
});

//-->
</script>
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_airgroup_shared_location">
        Select the locations where this device will be shared.
      </div>
    </td>
  </tr>
  <!-- end airgroup_shared_location UI element -->

  <!-- begin airgroup_shared_role UI element (type: multiselect; hidden: ;) -->
  <tr id="TR_form4a5de7b9_mac_create_airgroup_shared_role" style="display:none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_airgroup_shared_role">Shared Roles:</label>    </th>
    <td class="nwaBody"><a name="A_airgroup_shared_role"></a>
      <div class="select2-container select2-container-multi" id="s2id_ID_form4a5de7b9_mac_create_airgroup_shared_role" style="width: 480px;"><ul class="select2-choices">  <li class="select2-search-field">    <label for="s2id_autogen2" class="select2-offscreen">Shared Roles:</label>    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input select2-default" id="s2id_autogen2" style="width: 490px;" placeholder="">  </li></ul><div class="select2-drop select2-drop-multi select2-display-none">   <ul class="select2-results" style="max-height: 400px;">   <li class="select2-no-results">No matches found</li></ul></div></div><select multiple="multiple" name="airgroup_shared_role[]" id="ID_form4a5de7b9_mac_create_airgroup_shared_role" style="width: 480px; display: none;" aria-describedby="DESC_form4a5de7b9_mac_create_airgroup_shared_role" tabindex="-1">
<option label="(Select role)" value=""></option>
</select>



<script type="text/javascript"><!--

jQuery(function ($) {
	$("#ID_form4a5de7b9_mac_create_airgroup_shared_role").select2($.extend({}, {"resultsCss":{"max-height":"400px"},"maximumSelectionSize":"100","_init":1,"placeholder":"(Select role)","_id":"ID_form4a5de7b9_mac_create_airgroup_shared_role"}));
});

//-->
</script>
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_airgroup_shared_role">
        Select the user roles that will be able to use this device.
      </div>
    </td>
  </tr>
  <!-- end airgroup_shared_role UI element -->

  <!-- begin airgroup_shared_group UI element (type: multiselect; hidden: ;) -->
  <tr id="TR_form4a5de7b9_mac_create_airgroup_shared_group" style="display:none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_airgroup_shared_group">Shared Groups:</label>    </th>
    <td class="nwaBody"><a name="A_airgroup_shared_group"></a>
      <div class="select2-container select2-container-multi" id="s2id_ID_form4a5de7b9_mac_create_airgroup_shared_group" style="width: 480px;"><ul class="select2-choices">  <li class="select2-search-field">    <label for="s2id_autogen3" class="select2-offscreen">Shared Groups:</label>    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" id="s2id_autogen3" style="width: 20px;" placeholder="">  </li></ul><div class="select2-drop select2-drop-multi select2-display-none">   <ul class="select2-results">   </ul></div></div><input type="text" value="" name="airgroup_shared_group[]" id="ID_form4a5de7b9_mac_create_airgroup_shared_group" style="width: 480px; display: none;" aria-describedby="DESC_form4a5de7b9_mac_create_airgroup_shared_group" tabindex="-1">




<script type="text/javascript"><!--

jQuery(function ($) {
	$("#ID_form4a5de7b9_mac_create_airgroup_shared_group").select2(function (args) {
		delete args.ajax;
		args.tokenSeparators = [","];
		args.tags = [];
		return args;
	}($.extend({}, {"ajax":{"_inputType":"text"},"_init":1,"_id":"ID_form4a5de7b9_mac_create_airgroup_shared_group"})));
});

//-->
</script>
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_airgroup_shared_group">
        Select the user groups that will be able to use this device.<br>
This feature requires AOS 6.4 or later.
      </div>
    </td>
  </tr>
  <!-- end airgroup_shared_group UI element -->

  <!-- begin airgroup_shared_time UI element (type: textarea; hidden: ;) -->
  <tr id="TR_form4a5de7b9_mac_create_airgroup_shared_time" style="display:none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_airgroup_shared_time">Time Sharing:</label>    </th>
    <td class="nwaBody"><a name="A_airgroup_shared_time"></a>
      <script type="text/javascript" charset="UTF-8" language="JavaScript" src="js/autoresize.jquery-29209.js"></script>      <table class="nwaTextarea" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="border:0;padding:0;"><textarea rows="1" style="width: 480px; resize: horizontal; overflow-y: hidden; position: absolute; top: 0px; left: -9999px; height: 30px; line-height: 20px; text-decoration: none solid rgb(85, 85, 85); letter-spacing: 0px;" aria-describedby="DESC_form4a5de7b9_mac_create_airgroup_shared_time" tabindex="-1"></textarea><textarea name="airgroup_shared_time" id="ID_form4a5de7b9_mac_create_airgroup_shared_time" rows="1" style="width: 480px; resize: horizontal; overflow-y: hidden; height: 30px;" aria-describedby="DESC_form4a5de7b9_mac_create_airgroup_shared_time"></textarea><span class="nwaIconLink" style="display:inline-block" title="Syntax"><a href="http://www.arubanetworks.com/techdocs/ClearPass/6.7/Guest/Default.htm#AdministrationTasks1/AirGroupTimeFenceSyntax.htm" target="NwaContextHelp" onclick="return Nwa_ContextHelpNav('http://www.arubanetworks.com/techdocs/ClearPass/6.7/Guest/Default.htm#AdministrationTasks1/AirGroupTimeFenceSyntax.htm');"><img src="images/icon-help22.png" width="22" height="22" border="0" align="absmiddle" style="vertical-align:middle;" alt=""></a>&nbsp;<a href="http://www.arubanetworks.com/techdocs/ClearPass/6.7/Guest/Default.htm#AdministrationTasks1/AirGroupTimeFenceSyntax.htm" target="NwaContextHelp" onclick="return Nwa_ContextHelpNav('http://www.arubanetworks.com/techdocs/ClearPass/6.7/Guest/Default.htm#AdministrationTasks1/AirGroupTimeFenceSyntax.htm');">Syntax</a></span></td></tr>
</tbody></table>
<script type="text/javascript"><!--
$(function(){$("#ID_form4a5de7b9_mac_create_airgroup_shared_time").autoResize().trigger("change.dynSiz").css("resize", "horizontal")});
//-->
</script>
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_airgroup_shared_time">
        Specify time-based sharing rules for this device.
      </div>
    </td>
  </tr>
  <!-- end airgroup_shared_time UI element -->

  <!-- begin start_time UI element (type: hidden; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_start_time">Activation Time:</label>    </th>
    <td class="nwaBody"><a name="A_start_time"></a>
      <input type="hidden" name="start_time" id="ID_form4a5de7b9_mac_create_start_time" value="now" aria-describedby="DESC_form4a5de7b9_mac_create_start_time">
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_start_time">
        Scheduled date and time at which to enable the account. If blank, the account will be enabled immediately.
      </div>
    </td>
  </tr>
  <!-- end start_time UI element -->

  <!-- begin modify_start_time UI element (type: hidden; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_modify_start_time">Account Activation:</label>    </th>
    <td class="nwaBody"><a name="A_modify_start_time"></a>
      <input type="hidden" name="modify_start_time" id="ID_form4a5de7b9_mac_create_modify_start_time" value="" aria-describedby="DESC_form4a5de7b9_mac_create_modify_start_time">
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_modify_start_time">
        Select an option for changing the activation time of this account.
      </div>
    </td>
  </tr>
  <!-- end modify_start_time UI element -->

  <!-- begin modify_expire_time UI element (type: hidden; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_modify_expire_time">Account Expiration:</label>    </th>
    <td class="nwaBody"><a name="A_modify_expire_time"></a>
      <input type="hidden" name="modify_expire_time" id="ID_form4a5de7b9_mac_create_modify_expire_time" value="1y" aria-describedby="DESC_form4a5de7b9_mac_create_modify_expire_time">
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_modify_expire_time">
        Select an option for changing the expiration time of this account.
      </div>
    </td>
  </tr>
  <!-- end modify_expire_time UI element -->

  <!-- begin expire_time UI element (type: datetime; hidden: ;) -->
  <tr id="TR_form4a5de7b9_mac_create_expire_time" style="display:none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_expire_time">Expiration Time:</label>    </th>
    <td class="nwaBody"><a name="A_expire_time"></a>
      <style>
div.calendar {
  position: relative;
  z-index: 98;
}
.calendar, .calendar table {
  border: 1px solid rgb(85,174,239);
  font-size: 12px;
  color: #000;
  cursor: default;
  background: #fff;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */
.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
}
.calendar .nav {
  background: rgb(100,191,240) /*url(menuarrow2.gif)*/ no-repeat 100% 100%;
}
.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  font-size: 16px;
  text-align: center;
  background: #069;
  color: #fff;
  padding: 2px;
}
.calendar thead tr { /* Row <TR> containing navigation buttons */
  background: rgb(100,191,240);
  /*color: #fff;*/
}
.calendar thead .daynames { /* Row <TR> containing the day names */
  background: #C7E1F3;
}
.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid rgb(0,163,249);
  padding: 2px;
  text-align: center;
  color: #000;
  font-size: 11px;
}
.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #666;
}
.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background-color: #34ABFA;
  color: #000;
  border: 1px solid #016DC5;
  padding: 1px;
}
.calendar thead .active { /* Active (pressed) buttons in header */
  background-color: #006AA9;
  color: #fff;
  border: 1px solid #008AFF;
  padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */
.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  color: #000;
  text-align: right;
  padding: 3px 5px 3px 3px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #bbb;
  background-color: rgb(240,240,240);
}
.calendar tbody .day.othermonth.oweekend {
  color: #bbb;
  background-color: rgb(240,240,240);
}
.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #C7E1F3;
}
.calendar tbody .rowhilite td {
  /*background: #def;*/
}
.calendar tbody .rowhilite td.wn {
  /*background: #F1F8FC;*/
}
.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #def;
  padding: 2px 4px 2px 2px;
  border: 1px solid #8FC4E8;
}
.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #cde;
  padding: 3px 3px 0px 3px;
}
.calendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  border: 1px solid rgb(0,163,249);
  padding: 2px 4px 2px 2px;
  background: rgb(240,240,240);
  color: #000;
}
.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #777;
}
.calendar tbody td.today { /* Cell showing selected date */
  font-weight: bold;
  color: #D50000;
}
.calendar tbody .disabled { color: #999; }
.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}
.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  /*display: none;*/
}

/* The footer part -- status bar and "Close" button */
.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
  background: #206A9B;
  color: #fff;
}
.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: rgb(240,240,240);
  color: #000;
  border-top: 1px solid rgb(0,163,249);
  padding: 3px;
  font-size: 11px;
}
.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #B8DAF0;
  border: 1px solid #178AEB;
  color: #000;
  padding: 2px;
}
.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #006AA9;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */
.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #655;
  background: #def;
  color: #000;
  font-size: 90%;
  z-index: 100;
}
.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}
.calendar .combo .label-IEfix {
  width: 4em;
}
.calendar .combo .hilite {
  background: #34ABFA;
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  font-weight: bold;
}
.calendar .combo .active {
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  background: #F1F8FC;
  font-weight: bold;
}
.calendar td.time {
  border-top: 1px solid rgb(0,163,249);
  padding: 3px 0px;
  text-align: center;
  background-color: #E3F0F9;
}
.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #F1F8FC;
}
.calendar td.time .ampm {
  text-align: center;
}
.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}
.calendar td.time span.hilite {
  border-color: rgb(0,163,249);
  background-color: #069;
  color: #fff;
}
.calendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #fff;
}
</style>
<script type="text/javascript" charset="UTF-8" language="JavaScript" src="js/calendar_stripped-9055.js"></script>
<script type="text/javascript" charset="UTF-8" language="JavaScript" src="js/calendar-en-8411.js"></script>
<script type="text/javascript" charset="UTF-8" language="JavaScript" src="js/calendar-setup_stripped-8411.js"></script>
<input type="text" style="" id="ID_form4a5de7b9_mac_create_expire_time" name="expire_time" value="" aria-describedby="DESC_form4a5de7b9_mac_create_expire_time">&nbsp;<input type="button" id="ID_form4a5de7b9_mac_create_expire_time_trigger" class="datetime_button" value="..." style="width: 30px">
<script type="text/javascript"><!--
Calendar.setup({ inputField: "ID_form4a5de7b9_mac_create_expire_time", ifFormat: "%Y-%m-%d %H:%M",
 button: "ID_form4a5de7b9_mac_create_expire_time_trigger", step: 1, showsTime: true, weekNumbers: false, showOthers: true });
//-->
</script>
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_expire_time">
        Optional date and time at which the account will expire and be deleted. If blank, the account will not expire.
      </div>
    </td>
  </tr>
  <!-- end expire_time UI element -->

  <!-- begin expire_after UI element (type: dropdown; hidden: ;) -->
  <tr id="TR_form4a5de7b9_mac_create_expire_after" style="display:none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_expire_after">Expires After:</label>    </th>
    <td class="nwaBody"><a name="A_expire_after"></a>
      <span style="height:0;"><select name="expire_after" id="ID_form4a5de7b9_mac_create_expire_after" style="" aria-describedby="DESC_form4a5de7b9_mac_create_expire_after">
<option label="1 hour" value="1">1 hour</option>
<option label="2 hours" value="2">2 hours</option>
<option label="3 hours" value="3">3 hours</option>
<option label="4 hours" value="4">4 hours</option>
<option label="6 hours" value="6">6 hours</option>
<option label="8 hours" value="8">8 hours</option>
<option label="12 hours" value="12">12 hours</option>
<option label="16 hours" value="16">16 hours</option>
<option label="20 hours" value="20">20 hours</option>
<option label="1 day" value="24" selected="selected">1 day</option>
<option label="2 days" value="48">2 days</option>
<option label="3 days" value="72">3 days</option>
<option label="4 days" value="96">4 days</option>
<option label="5 days" value="120">5 days</option>
<option label="6 days" value="144">6 days</option>
<option label="1 week" value="168">1 week</option>
<option label="2 weeks" value="336">2 weeks</option>
</select></span>
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_expire_after">
        Amount of time before this account will expire.
      </div>
    </td>
  </tr>
  <!-- end expire_after UI element -->

  <!-- begin role_id UI element (type: hidden; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <span class="nwaImportant nwaRequiredField">*</span> <label for="ID_form4a5de7b9_mac_create_role_id">Account Role:</label>    </th>
    <td class="nwaBody"><a name="A_role_id"></a>
      <input type="hidden" name="role_id" id="ID_form4a5de7b9_mac_create_role_id" value="108" aria-describedby="DESC_form4a5de7b9_mac_create_role_id">
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_role_id">
        Role to assign to this account.
      </div>
    </td>
  </tr>
  <!-- end role_id UI element -->

  <!-- begin no_password UI element (type: hidden; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_no_password">Password Change:</label>    </th>
    <td class="nwaBody"><a name="A_no_password"></a>
      <input type="hidden" name="no_password" id="ID_form4a5de7b9_mac_create_no_password" value="1" aria-describedby="DESC_form4a5de7b9_mac_create_no_password">
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_no_password">
        If set, prevents the user from changing their own password.
      </div>
    </td>
  </tr>
  <!-- end no_password UI element -->

  <!-- begin no_portal UI element (type: hidden; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_no_portal">Portal Login:</label>    </th>
    <td class="nwaBody"><a name="A_no_portal"></a>
      <input type="hidden" name="no_portal" id="ID_form4a5de7b9_mac_create_no_portal" value="1" aria-describedby="DESC_form4a5de7b9_mac_create_no_portal">
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_no_portal">
        If set, prevents the user from logging into the guest service portal.
      </div>
    </td>
  </tr>
  <!-- end no_portal UI element -->

  <!-- begin endpoint_profile_device_category UI element (type: static; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_endpoint_profile_device_category">Device Category:</label>    </th>
    <td class="nwaBody"><a name="A_endpoint_profile_device_category"></a>
      <input type="hidden" name="endpoint_profile_device_category" id="ID_form4a5de7b9_mac_create_endpoint_profile_device_category" value="">
    </td>
  </tr>
  <!-- end endpoint_profile_device_category UI element -->

  <!-- begin endpoint_profile_device_family UI element (type: static; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_endpoint_profile_device_family">Device Family:</label>    </th>
    <td class="nwaBody"><a name="A_endpoint_profile_device_family"></a>
      <input type="hidden" name="endpoint_profile_device_family" id="ID_form4a5de7b9_mac_create_endpoint_profile_device_family" value="">
    </td>
  </tr>
  <!-- end endpoint_profile_device_family UI element -->

  <!-- begin endpoint_profile_device_name UI element (type: static; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_endpoint_profile_device_name">Device Name:</label>    </th>
    <td class="nwaBody"><a name="A_endpoint_profile_device_name"></a>
      <input type="hidden" name="endpoint_profile_device_name" id="ID_form4a5de7b9_mac_create_endpoint_profile_device_name" value="">
    </td>
  </tr>
  <!-- end endpoint_profile_device_name UI element -->

  <!-- begin endpoint_profile_ip UI element (type: static; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_endpoint_profile_ip">Device IP:</label>    </th>
    <td class="nwaBody"><a name="A_endpoint_profile_ip"></a>
      <input type="hidden" name="endpoint_profile_ip" id="ID_form4a5de7b9_mac_create_endpoint_profile_ip" value="">
    </td>
  </tr>
  <!-- end endpoint_profile_ip UI element -->

  <!-- begin notes UI element (type: textarea; hidden: ;) -->
  <tr id="TR_form4a5de7b9_mac_create_notes">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_notes">Notes:</label>    </th>
    <td class="nwaBody"><a name="A_notes"></a>
      <table class="nwaTextarea" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="border:0;padding:0;"><textarea name="notes" id="ID_form4a5de7b9_mac_create_notes" rows="3" cols="50" style=""></textarea></td></tr>
</tbody></table>
    </td>
  </tr>
  <!-- end notes UI element -->
  <!--sponsor key-->
    <tr id="TR_form4a5de7b9_mac_create_sponsor">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_sponsor">Sponsor key:</label>    </th>
    <td class="nwaBody"><a name="A_sponsor"></a>
      <table class="nwaTextarea" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="border:0;padding:0;"><textarea name="notes" id="ID_form4a5de7b9_mac_create_sponsor" rows="3" cols="50" style=""></textarea></td></tr>
</tbody></table>
    </td>
  </tr>
  <!--end sponsor key-->
  <!--role names-->
    <tr id="TR_form4a5de7b9_mac_create_roles">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_roles">RoleName:</label>    </th>
    <td class="nwaBody"><a name="A_roles"></a>
             <table class="nwaTextarea" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="border:0;padding:0;">
        <input list="roles" type="text" id="ID_form4a5de7b9_mac_create_roles">
                            <datalist id = "roles">
                                <option>Harvard Student</option>
                                <option>Harvard Faculty</option>
                                <option>Harvard Staff</option>
                                <option>Harvard Guest Sponsored</option>
                                <option>Harvard Guest Self-Registered</option>
                                <option>mobility-appliance</option>
                                <option>mobility-admin</option>
                                <option>mobility-printer</option>
                            </datalist>
</td></tr>
</tbody></table>
    </td>
  </tr>
  <!--end  rolenames-->

  <!-- begin create_time UI element (type: hidden; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_create_time">Created:</label>    </th>
    <td class="nwaBody"><a name="A_create_time"></a>
      <input type="hidden" name="create_time" id="ID_form4a5de7b9_mac_create_create_time" value="2018-05-11 14:18:32" aria-describedby="DESC_form4a5de7b9_mac_create_create_time">
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_create_time">
        Time the account was created.
      </div>
    </td>
  </tr>
  <!-- end create_time UI element -->

  <!-- begin remote_addr UI element (type: hidden; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <label for="ID_form4a5de7b9_mac_create_remote_addr">Create Address:</label>    </th>
    <td class="nwaBody"><a name="A_remote_addr"></a>
      <input type="hidden" name="remote_addr" id="ID_form4a5de7b9_mac_create_remote_addr" value="10.34.11.133" aria-describedby="DESC_form4a5de7b9_mac_create_remote_addr">
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_remote_addr">
        This is your IP address.
      </div>
    </td>
  </tr>
  <!-- end remote_addr UI element -->

  <!-- begin harvard_source UI element (type: hidden; hidden: 1;) -->
  <tr style="display: none;">
    <th class="nwaLeft">
      <span class="nwaImportant nwaRequiredField">*</span> <label for="ID_form4a5de7b9_mac_create_harvard_source">Harvard Source:</label>    </th>
    <td class="nwaBody"><a name="A_harvard_source"></a>
      <input type="hidden" name="harvard_source" id="ID_form4a5de7b9_mac_create_harvard_source" value="clearpass" aria-describedby="DESC_form4a5de7b9_mac_create_harvard_source">
      <div class="nwaInfo" id="DESC_form4a5de7b9_mac_create_harvard_source">
        Source where this account was created.
      </div>
    </td>
  </tr>
  <!-- end harvard_source UI element -->

  <!-- begin creator_accept_terms UI element (type: checkbox; hidden: ;) -->
  <tr id="TR_form4a5de7b9_mac_create_creator_accept_terms">
    <th class="nwaLeft">
      <span class="nwaImportant nwaRequiredField">*</span> <label for="ID_form4a5de7b9_mac_create_creator_accept_terms">Terms of Use:</label>    </th>
    <td class="nwaBody"><a name="A_creator_accept_terms"></a>
      <input type="checkbox" id="ID_form4a5de7b9_mac_create_creator_accept_terms" name="creator_accept_terms" value="1">
      <label id="LB_ID_form4a5de7b9_mac_create_creator_accept_terms" for="ID_form4a5de7b9_mac_create_creator_accept_terms">I am the sponsor of this account and accept the <a href="harvard_aup.php" target="_blank">terms of use</a></label>
    </td>
  </tr>
  <!-- end creator_accept_terms UI element -->
   <tr id="TR_form4a5de7b9_mac_create_submit">
    <th class="nwaBottom" colspan="2">
     <a name="A_submit"></a>
       <button type="submit" id="ID_form4a5de7b9_mac_create_submit" style="width: 25ex;">
        <img src="images/icon-mac-auth22.png" border="0" align="absmiddle" style="vertical-align:middle;" alt=""> Create
       </button>
<script language="JavaScript" type="text/javascript"><!--
document.getElementById("ID_form4a5de7b9_mac_create_submit").onclick = function (ev) {
	ev = ev || window.event;
	r = (typeof(Nwa_OnSubmitCreate) == "function") ? Nwa_AjaxSubmitForm("form4a5de7b9_mac_create","ID_form4a5de7b9_mac_create_submit",Nwa_OnSubmitCreate) : Nwa_SubmitForm("form4a5de7b9_mac_create","ID_form4a5de7b9_mac_create_submit");
	ev.returnValue = r;
	return r;
}
//-->
</script>
<script language="JavaScript" type="text/javascript"><!--
document.getElementById("ID_form4a5de7b9_mac_create_submit").onclick = function (ev) {
	ev = ev || window.event;
	r = (typeof(Nwa_OnSubmitCreate) == "function") ? Nwa_AjaxSubmitForm("form4a5de7b9_mac_create","ID_form4a5de7b9_mac_create_submit",Nwa_OnSubmitCreate) : Nwa_SubmitForm("form4a5de7b9_mac_create","ID_form4a5de7b9_mac_create_submit");
	ev.returnValue = r;
	return r;
}
//-->
</script>
    </th>
   </tr>
<script type="text/javascript" language="JavaScript"><!--
function Nwa_FocusFormAuto() {
    return Nwa_FocusForm("form4a5de7b9_mac_create", "mac", false);
}
if (typeof(addLoadEvent) == 'function') {
    addLoadEvent(Nwa_FocusFormAuto);
} else {
    Nwa_FocusFormAuto();
}
//-->
</script></tbody></table>

<p class="nwaRequiredField" style="margin-top:0px;">
	<span class="nwaImportant nwaRequiredField">*</span> <small>required field</small></p>

</form>
            </div>
            </div>

    </div>
    </main>

</div>
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
</body>
