{% extends 'base.html' %}

{% block title %}eHeijunka Input Sheet{% endblock %}

{% block links %}
    <link href="/static/css/inputsheet.css" rel="stylesheet"/>
    {% endblock %}

{% block content %}
    {% load static from staticfiles %}
    <div class="container" style="margin-bottom: 100px">
    <div class="row">
        <div class="col-md-9">
            <div style="color:white"><h1>Input Sheet</h1><h6>click on cell to edit and click away after edit</h6></div></div>
        {#    <div class="">#}
        <button id="inputsave" class="col-md-2 offset-md-8 btn btn-primary" style="font-weight:bolder; color:#ffffff;border-color: #000000; background-color:rgba(255,0,6,0.8); margin:20px; margin-left: 60px; vertical-align: center;" type="button">Save</button></div>
    {#        </div>#}


    <div style="height: 400px; overflow: auto;">
        <table id="inputsheet" class="table table-dark" style="color: black; border-radius: 5px; border-color:black;background-color:rgba(239,237,226,0.9); table-layout: fixed; text-align: center;padding-bottom: 50px">
            <thead>
            <tr>
                <th>S.No</th>
                <th>Part Number</th>
                <th>Inspection Lead Time</th>
                <th>Index</th>
                <th>Delete</th>
                <th id="addHeader">Add</th>
            </tr>
            </thead>
            <tbody>
            <tr hidden>
                <td>0</td>
                <td contenteditable="true" id="pn" onInput=check_pn(id);></td>
                <td contenteditable="true" id="lt" onInput=check_lt(id);>1</td>
                <td id="idx"></td>
                <td>
                    <button id="delete" onclick="deleteRow(this)" type="button"  class="btn btn-secondary">Delete</button>
                </td>
                <td><button id="add" onclick="insRow(this)" type="button"  class="btn btn-warning">Add</button>
                </td>
            </tr>
            {% for each in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td contenteditable="true" id="pn{{forloop.counter}}" onInput=check_pn(id);>{{ each.part_number }}</td>
                    <td contenteditable="true" id="lt{{forloop.counter}}" onInput=check_lt(id);>{{ each.inspection_lead_time }}</td>
                    <td id="idx{{forloop.counter}}"></td>
                    <td>
                        <button id="delete{{forloop.counter}}" onclick="deleteRow(this)" type="button"  class="btn btn-secondary">Delete</button>
                    </td>
                    <td><button id="add{{forloop.counter}}" onclick="insRow(this)" type="button"  class="btn btn-warning">Add</button>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}

{% block script %}
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>


    <script type=text/javascript>

        function checkNum(content){

            if (isNaN(content)){

                alert("Enter Integer only");
                document.getElementById(id).innerHTML = "0"
            } else {

                if (content < 0) {
                    alert("Enter Positive Integer");
                    document.getElementById(id).innerHTML = "0"
                     var idx = "Less"
                }

                else if (content<4){
                    var idx = "Less"
                }

                else if (content>=4 && content<=8){
                    var idx = "Medium"
                }

                else if (content>8){
                    var idx = "More"
                }
            }
            return idx;
        }


        function reNum(table){

            console.log(table);
            var len = table.rows.length;

            for (i = 1; i < len; i++) {
                var row = table.rows[i];
                row.cells[0].innerHTML = i-1;
                row.cells[3].innerHTML = checkNum(row.cells[2].innerHTML);
            }


        }

        function check_lt(id){

            console.log(id);
            let content = (document.getElementById(id).innerHTML).replace(/&nbsp;/g," ");
            if (isNaN(content)){

                alert("Enter number greater than 0");
                document.getElementById(id).innerHTML = "0"
            } else {

                if (content < 1) {
                    alert("Enter number greater than 0");
                    document.getElementById(id).innerHTML = "0"
                }

                else if (content<4){
                    var idx = "Less"
                }

                else if (content>=4 && content<=8){
                    var idx = "Medium"
                }

                else if (content>8){
                    var idx = "More"
                }
            }
            console.log(idx);
            document.getElementById("idx"+id.replace("lt","")).innerHTML = idx;
            if(content.length > 7){
                let cutoff = content.length - 7;
                document.getElementById(id).innerHTML = content.slice(0,content.length - cutoff);

                return;
            }
        }

        function check_pn(id){
            let content = (document.getElementById(id).innerHTML).replace(/&nbsp;/g," ");

            if(content.length > 12)
            {
                let cutoff = content.length - 12;
                // console.log(document.getElementById(id).innerHTML);
                document.getElementById(id).innerHTML = content.slice(0,content.length - cutoff);
                return;
            }

        }

        function deleteRow(row){
            let i=row.parentNode.parentNode.rowIndex;
            console.log(i);
            var table=document.getElementById('inputsheet');

            var len = table.rows.length;

            console.log(len)
            var addHeader=document.getElementById('addHeader');
            if (len >= 4){
                table.deleteRow(i);
                reNum(table);

                // addHeader.outerHTML = "<th id='addHeader'>Add</th>";


            } else {
                // addHeader.outerHTML = "<th><button id='addHeader' onclick='insRow(this)' type='button'  class='btn btn-warning'>Add</button></th>";

                reNum(table);


            }






        }

        function insRow(row){
            console.log(row);
            let rowNum=row.parentNode.parentNode.rowIndex;
            console.log(rowNum);

            var table=document.getElementById('inputsheet');
            console.log(table);
            // deep clone the targeted row
            // let new_row = table.insertRow(rowNum);
            var len = table.rows.length;

            var clone_new_row = table.rows[1].cloneNode(true);
            let new_row = table.insertRow(rowNum+1);

            new_row.innerHTML = clone_new_row.innerHTML
            new_row.cells[0].innerHTML = len;
            new_row.cells[1].innerHTML = "";
            new_row.cells[2].innerHTML = 1;
            // new_row.cells[1] = "<td contenteditable='true' id='pn' onInput=check_pn(id);></td>"

            // console.log(new_row.cells[1])
            // console.log(new_row.cells[1].innerHTML)
            // console.log(new_row.cells[2].innerHTML)
            // console.log(new_row.cells[3].innerHTML)
            // get the total number of rows
            // var len = x.rows.length;
            //    // set the innerHTML of the first row
            // new_row.cells[0].innerHTML = len;
            //
            //    // grab the input from the first cell and update its ID and value
            // var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
            // inp1.id += len;
            // inp1.value = '';
            //
            //    // grab the input from the first cell and update its ID and value
            // var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
            // inp2.id += len;
            // inp2.value = '';

            // append the new row to the table

            // table.appendChild( new_row );
            reNum(table);

        }

        $(function() {
            $('button#inputsave').bind('click', function(e) {

                e.preventDefault();
                let data = [];
                let table=document.getElementById('inputsheet');

                let len = table.rows.length;

                for (i = 2; i < len; i++) {

                    data.push([table.rows[i].cells[1].innerHTML, table.rows[i].cells[2].innerHTML]);
                }

                // var Form = this;
                // $.each(this.elements, function(i, v) {
                //     var input = $(v);
                //     data[input.attr("name")] = input.val();
                //     delete data["undefined"];
                // });
                $.ajax({
                    type: 'POST',
                    url: '/post_inputsheet',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function(callback) {
                        alert(callback['data']);
                        // console.log(data);
                        // $(this).html(callback);
                        // console.log(callback);
                        // alert(callback);
                        // Watch out for Cross Site Scripting security issues when setting dynamic content!
                        // $(this).text('Hello ' + callback.first_name + ' ' + callback.last_name  + '!');
                    },
                    error: function(callback) {
                        alert(callback['data']);
                        // $(this).html("error!");
                    }
                });
            });


        });

    </script>

{% endblock %}



{% block docready %}

    let table=document.getElementById('inputsheet');
    reNum(table);

{% endblock %}


