{% extends 'base.html' %}

{% block title %}eHeijunka {{ user }}{% endblock %}

{% block links %}
    <link href="/static/css/landing.css" rel="stylesheet"/>
    {% endblock %}

{% block navbarbuttons %}
    <a href="" class="btn btn-dark" role="button">Role: {{ role }}</a>
            {% endblock %}

{% block content %}
<div class="col-md-12" id="midlogoholder">
</div>
    <div class="col-md-12" id="midlogoholder2">
    </div>
{%  if role == "adm" %}
    <div class="col-md-2 offset-md-5" id="buttonholder">
    <a id="btn" href="{% url 'inputsheet' %}" class="btn btn-lg btn-warning " style="font-weight:bold; margin: 30px; border-width:3px; border-color: #ffffff" role="button">Input Sheet</a>
</div>

<div class="col-md-2 offset-md-1" id="buttonholder">
    <a id="btn" href="{% url 'adminapproval' %}" class="btn btn-lg btn-warning " style="font-weight:bold; margin: 20px; border-width:3px; border-color: #ffffff" role="button">Random<br>Approval</a>
</div>

{%  elif role == "ppx" %}

    <div class="col-md-2 offset-md-5" id="buttonholder">
    <a id="btn" href="{% url 'prioritization' %}" class="btn btn-lg btn-warning " style="font-weight:bold; margin: 20px; border-width:3px; border-color: #ffffff" role="button">Prioritization<br>Input Sheet</a>
</div>


{%  elif role == "pqa" %}
    <div class="col-md-2 offset-md-2" id="buttonholder">
    <a id="btn" href="{% url 'dashboard' %}" class="btn btn-lg btn-warning " style="font-weight:bold; margin: 20px; border-width:3px; border-color: #ffffff" role="button">Power BI<br>Dashboard</a>
</div>
    <div class="col-md-2 offset-md-1" id="buttonholder">
    <a id="btn" href="{% url 'acceptance' %}" class="btn btn-lg btn-warning " style="font-weight:bold; margin: 20px; border-width:3px; border-color: #ffffff" role="button">Acceptance<br>Input Sheet</a>
</div>
    <div class="col-md-2 offset-md-1" id="buttonholder">
    <a id="btn" href="{% url 'reports' %}" class="btn btn-lg btn-warning " style="font-weight:bold; margin: 20px; border-width:3px; border-color: #ffffff" role="button">Report<br>Download</a>
</div>

{% endif %}
{% endblock %}