{% extends 'base.html' %}

{% block title %}eHeijunka PPx Prioritization Input Sheet{% endblock %}


{% block links %}
    <link href="/static/css/prioritization.css" rel="stylesheet"/>
{% endblock %}


{% block content %}
    {% load static from staticfiles %}
    <div style="margin: 50px; margin-bottom: 100px">
        <div class="row">
            <div class="col-md-9">
                <div style="color:white"><h1>PPx Prioritization Input Sheet</h1><h6>click on cell to edit and click away after edit</h6></div>
            </div>
            <div class="col-md-3">
                <button id="prioritizationsave" class="col-md-6 btn btn-primary" style="height:50px; font-weight:bolder; color:#ffffff;border-color: #000000; background-color:rgba(255,0,6,0.8);  vertical-align: center;">Save</button>

    </div>


        <div class="col-md-12" style="margin-bottom: 50px">
            <button id="delete" onclick="deleteSelected()" type="button"  class="col-md-1 btn btn-secondary">Delete</button>
            <button id="add" onclick="insRow()" type="button"  class="col-md-1 btn btn-warning">Add</button>
        </div>
    </div>

    <div style="height: 400px; overflow: auto;">

        <div class="form-group row">

            <table id="prioritizationsheet" class="table table-dark" style="color: black; border-radius: 5px; border-width: 5px;border-color:black;background-color:rgba(239,237,226,0.9); table-layout: fixed; text-align: center;padding-bottom: 50px">
                <col width="8%">
                <col width="4%">
                <col width="15%">
                <col width="15%">
                <col width="5%">
                <col width="10%">
                <col width="15%">
                <thead>
                <tr>
                    <th>SELECT</th>
                    <th>#</th>
                    <th>PART FAMILY</th>
                    <th>GRN INPUT PARTS LIST</th>
                    <th>AGING</th>
                    <th>PRIORITY TYPE</th>
                    <th>REMARKS</th>
                </tr>
                </thead>
                <tbody>
                <tr hidden>
                    <td><input type="checkbox"></td>
                    <td></td>
                    <td>
                        <div>
                            <select class="form-control">
                                <option value="" disabled selected>Choose a Part Family</option>
                                {% for each in Pdata %}
                                    <option value="{{ each }}">{{ each }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>
                        <div>
                            <select  class="form-control" onclick="popuAging(this)" required>
                                <option value="" disabled selected>Choose a Part</option>
                                {% for each in Mdata %}
                                    <option value={{ each.grninputpart  }} class="{{ each.part_family }}" >{{ each.grninputpart  }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>0</td>
                    <td>
                        <div>
                            <select class="form-control" onchange="inputtoggle(this)" required>
                                <option value="" disabled selected>Choose a Priority</option>
                                <option value="Automatic">Automatic</option>
                                <option value="Manual">Manual</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div style="margin-right:20px;">
                            <input type="text" class="form-control" placeholder="Why Manual Priority?"  disabled>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td></td>
                    <td>
                        <div>
                            <select class="form-control" required>
                                <option value="" disabled selected>Choose a Part Family</option>
                                {% for each in Pdata %}
                                    <option value="{{ each }}" >{{ each }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>
                        <div>
                            <select  class="form-control" onclick="popuAging(this)" required>
                                <option value="" disabled selected>Choose a Part</option>
                                {% for each in Mdata %}
                                    <option value={{ each.grninputpart  }} class="{{ each.part_family }}">{{ each.grninputpart  }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div>
                            <select class="form-control" onchange="inputtoggle(this)" required>
                                <option value="" disabled selected>Choose a Priority</option>
                                <option value="Automatic">Automatic</option>
                                <option value="Manual">Manual</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div style="margin-right:20px;">
                            <input type="text" class="form-control" placeholder="Why Manual Priority?"  disabled>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>


{% endblock %}

{% block docready %}

    reId();
    let table=document.getElementById('prioritizationsheet');
    reNum(table);


{% endblock %}

{% block script %}
    <script>
    var agingDict = [];

    {% for key,value in Adata.items %}
        agingDict["{{ key }}"] = "{{ value }}";

    {% endfor %}


    console.log(agingDict);

        function popuAging(content){
            adValue = agingDict[$( "#"+content.id).find(":selected").val()];
            adId = "ad" + content.id.replace("ip","");
            document.getElementById(adId).innerHTML = adValue;

        }

        function reId(){

            var rows = $("table tbody tr");

            {#var checkbox = rows.first().eq(0);#}
            {#var rowNum = rows.first().find('input').eq(1);#}
            rows.each(function (i) {
                if (i==0) { return; } // skip first row.
                var tdObj = $(this).find('td');
                var inputObjs = $(this).find('input');
                var selectObjs = $(this).find('select');
                {#console.log(tdObj);#}
                inputObjs.eq(0).attr('id','checkbox'+i );
                inputObjs.eq(0).attr('name','checkbox'+i );
                inputObjs.eq(0).attr('value',i );
                inputObjs.eq(1).attr('id','rmk'+i );
                tdObj.eq(1).attr('id','sNum'+i );
                tdObj.eq(4).attr('id','ad'+i );
                selectObjs.eq(0).attr('id','pf'+i );
                selectObjs.eq(1).attr('id','ip'+i );
                selectObjs.eq(2).attr('id','pt'+i );
                selectObjs.eq(0).attr('name','pf'+i );
                selectObjs.eq(1).attr('name','ip'+i );
                selectObjs.eq(2).attr('name','pt'+i );
                selectObjs.eq(0).prop('required',true);
                $('#ip'+i).chained('#pf'+i);
                $('#ad'+i).chained('#ip'+i);
                {#console.log(i);#}

            })


        }

        function insRow(){

            let table=document.getElementById('prioritizationsheet');

            // deep clone the targeted row
            // let new_row = table.insertRow(rowNum);
            var len = table.rows.length;

            var clone_new_row = table.rows[1].cloneNode(true);
            let new_row = table.insertRow(len);
            console.log("@@@@@@@@@@@");
            console.log(clone_new_row.innerHTML);

            new_row.innerHTML = clone_new_row.innerHTML
            {#new_row.cells[0].innerHTML = len;#}
            {#new_row.cells[1].innerHTML = "";#}
            {#new_row.cells[2].innerHTML = 0;#}
            // new_row.cells[1] = "<td contenteditable='true' id='pn' onInput=check_pn(id);></td>"

            // console.log(new_row.cells[1])
            // console.log(new_row.cells[1].innerHTML)
            // console.log(new_row.cells[2].innerHTML)
            // console.log(new_row.cells[3].innerHTML)
            // get the total number of rows
            // var len = x.rows.length;
            //    // set the innerHTML of the first row
            // new_row.cells[0].innerHTML = len;
            //
            //    // grab the input from the first cell and update its ID and value
            // var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
            // inp1.id += len;
            // inp1.value = '';
            //
            //    // grab the input from the first cell and update its ID and value
            // var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
            // inp2.id += len;
            // inp2.value = '';

            // append the new row to the table

            // table.appendChild( new_row );
            reId();
            reNum(table);
            table.scrollTop = table.scrollHeight;

        }

        function inputtoggle(ptObj){
            rmkId = "rmk" + ptObj.id.replace("pt","");

            let priorityvalue = ptObj.options[ptObj.selectedIndex].value;

            let rmkObj=document.getElementById(rmkId);

            if (priorityvalue == "Manual"){
                rmkObj.removeAttribute('disabled');
            }else{
                rmkObj.disabled = true;

            }
        }

        function reNum(table){

            console.log(table);
            let len = table.rows.length;

            for (i = 1; i < len; i++) {
                table.rows[i].cells[1].innerHTML = i-1;
            }


        }

        function deleteSelected(){

            $("input[type=checkbox]:checked").closest("tr").remove();
            let table=document.getElementById('prioritizationsheet');


            reNum(table)
            reId();
        }



        $('button#prioritizationsave').bind('click', function(e) {

            e.preventDefault();
            let data = [];

            let table=document.getElementById('prioritizationsheet');


            let len = table.rows.length;

            for (i = 2; i < len; i++) {
            let subData = [];
                rowNum = i-1;


                var pfVal = $( "#pf"+rowNum).find(":selected").val();
                if (pfVal== ''){
                    alert("Select Part family")
                    return;
                }

                var ipVal = $( "#ip"+rowNum).find(":selected").val();
                if (ipVal== ''){
                    alert("Select Part from Input list")
                    return;
                }
                var ptVal = $( "#pt"+rowNum).find(":selected").val();
                if (ptVal== ''){
                    alert("Select Priority")
                    return;
                }


                  subData.push(
                      pfVal,
                    ipVal,
                    $( "#ad"+rowNum).text(),
                    ptVal,
                    $( "#rmk"+rowNum).val());
                    data.push(subData);

                }





            // var Form = this;
            // $.each(this.elements, function(i, v) {
            //     var input = $(v);
            //     data[input.attr("name")] = input.val();
            //     delete data["undefined"];
            // });
            $.ajax({
                type: 'POST',
                url: '/post_prioritization',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function(callback) {
                    alert(callback['data']);
                    // console.log(data);
                    // $(this).html(callback);
                    // console.log(callback);
                    // alert(callback);
                    // Watch out for Cross Site Scripting security issues when setting dynamic content!
                    // $(this).text('Hello ' + callback.first_name + ' ' + callback.last_name  + '!');
                },
                error: function(callback) {
                    alert(callback['data']);
                    // $(this).html("error!");
                }
            });
        });



    </script>



{% endblock %}

