


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}eHijunka{% endblock %}</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>

    {% block links %}
    {% endblock %}
    {#    <link href="/static/css/print.css" rel="stylesheet"/>#}
</head>
<body>
<nav id= "topnavbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
<div id="topnavbarlogo" class="row col-md-4" ><img src='/static/img/Bosch trans logo.png' style="margin-left:50px;height:30%; width: 30%"></div>
    {% if user.is_authenticated %}
        <div class="row col-md- offset-md-5">

            <a href="" class="btn btn-dark" role="button">Welcome {{ user }}</a>
            <a href="{% url 'landing' %}" class="btn btn-dark" role="button">Home</a>


            <a href="{% url 'logoutuser' %}" class="btn btn-dark" role="button">Logout</a>
            {% block navbarbuttons %}
            {% endblock %}

        </div>
    {% endif %}
</nav>

{% load static from staticfiles %}
<div id="line"  style="height:5px; background-color: #ffffff; background-image: url({% static 'img/line.png' %});"></div>

<header role="banner" class="header-base--has-photo">

</header>

<div id="mainContent" class="row" style="background-color: rgba(55,58,52,0.5);">
    {#    {% include 'sideMenu.html' %}#}
    {% block content %}
    {% endblock %}

</div>

</body>
</html>

<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/bootstrap.bundle.js"></script>
<script src="/static/js/jquery.chained.js"></script>
<script src="/static/js/datepick.min.js"></script>

{% block script %}
{% endblock %}

<script type=text/javascript>



    $( document ).ready(function() {

        {% if user.is_authenticated %}
            $('#topnavbar').hide();

            $('#topnavbar').slideDown();
        {%  endif %}

        {% block docready %}
        {% endblock %}
    });


</script>





