
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% load static from staticfiles %}
<head>
    <style>
        .inline {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
    </style>
</head>
<body>

<div class="inline" style="width:200px; height:100px;background-image: url('cid:Bosch_trans_logo.png');background-size: 100%;background-repeat: no-repeat; " ></div>

<div class="inline" style="width:400px; text-align:right;margin-right:30px;"><h1>eHeijunka eMail</h1></div>
<div style="width:600px;height:10px; background-color: #ffffff; background-image: url('cid:line.png');background-size: contain;"></div>
<div style="height=600px;">
<table style="cellpadding: 10; text-align: center; font-weight: bold; width:600px; border: 1px solid black; background-color: grey;">
  <caption><h1>{{table_title}}</h1></caption>
    <caption><h4>{{id}}</h4></caption>
  <tr>
      {% for each_head in table_head %}
      <th>{{ each_head }}</th>
      {% endfor %}
  </tr>
  {% for each in table_data %}
    <tr style="background-color: white;">
    {% for value in each %}

    <td>{{ value }}</td>

    {% endfor %}
        </tr>
    {% endfor %}
</table>



    </div>
<div style="width:600px;height:10px; background-color: #ffffff; background-image: url('cid:line.png');background-size: contain;"></div>


</body>
</html>

