.login-logo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80px;
    min-height: 380px;

}
/*.btn{*/
    /*height:50px;*/
    /*font-weight:bolder;*/
    /*color:#ffffff;*/
    /*border-color: #000000;*/
    /*background-color:rgba(255,0,6,0.8);*/
    /*vertical-align: center;*/



/*#prioritizationsheet{*/
/*position: fixed;*/
    /*top: 0px; display:none;*/
    /*background-color:white;*/

/*}*/
.table{
    overflow-y: scroll;
    overflow-x: hidden;

}
input[type='checkbox'] {
    /*-webkit-appearance:none;*/
    width:30px;
    height:30px;
    background:black;
    border-radius:5px;
    border:2px solid #555;
}
/*input[type='checkbox']:checked {*/
    /*background: #abd;*/
/*}*/

img {
    max-width: 100%;
    max-height: 100%;
}

body {
  background: url("../img/Bosch Building Login.jpg") no-repeat center center fixed;
    background-color: #0c5460;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}